* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* *************************************** */
/* ****** Estilos nav accesibilidad ****** */
/* *************************************** */
.navAccesibilidad {
    margin-top: 0.5em;
}

.navAccesibilidad ul {
    display: flex;
    list-style-type: none;
}

.accesibilidadItem {
    margin-left: 1em;
    padding: 0.5em;
}

.accesibilidadItem a {
    border-radius: 0.3em;
    padding: 0.5em;
    color: #eee;
    text-decoration: none;
}

.accesibilidadItem a:hover, .accesibilidadItem a:focus {
    background-color: rgba(200, 200, 200, 0.2);
    outline: 0.15em solid #fff;
}


/* **************************** */
/* ****** Estilos header ****** */
/* **************************** */
header {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

header figure {
    width: 7rem;
}

figure img {
    width: 100%;
}

main section {
    display: flex;
}

.articulo1 {
    background-color: rgba(17, 122, 106, 0.5);
    width: 50%;
    padding: 2rem;
}

.articulo2 {
    background-color: rgba(71, 122, 42, 0.5);
    width: 50%;
    padding: 2rem;

}