* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* ******************************* */
/* ****** Estilos generales ****** */
/* ******************************* */
.flexContainer {
    display: flex;
}

.links {
    background-color: rgba(13, 104, 241, 0.2);
    border-radius: 0.3em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #222;
}

.noDots {
    list-style-type: none;
}

/* *************************************** */
/* ****** Estilos nav accesibilidad ****** */
/* *************************************** */
.navAccesibilidad {
    margin: 0.5em 0;
}

.accesibilidadItem {
    margin-left: 1em;
    padding: 0.5em;
}

.accesibilidadItem a:hover, .accesibilidadItem a:focus {
    background-color: rgb(39, 6, 160);
    color: #ddd;
    outline: 0;
    border: 0.15em solid #222;
}

/* Fin de estilos nav accesibilidad */

h1 {
margin: 0.5em 1em;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th, td {
    border: 0.15rem solid #bbb;
}

th {
    padding: 1rem;
    width: 8rem;
}

td {
    width: 5rem;
    padding: 1rem;
}

td:hover, th:hover {
    background-color: rgba(13, 104, 241, 0.2);
}